PORT=8080

UPSTREAM_HOST=api.vilao.ai
UPSTREAM_PORT=443
UPSTREAM_SCHEME=https

MIMO_API_KEY=sk-your-upstream-secret-key

USER_A_KEY=sk-userA-vkey-001
USER_B_KEY=sk-userB-vkey-002
USER_C_KEY=sk-userC-vkey-003

MONTHLY_LIMIT=2000000000

MODEL_NAME=mimo-v2.6-pro


# Optional: Ngrok Permanent Static Domain & Token
# NGROK_AUTHTOKEN=your-ngrok-authtoken
# NGROK_DOMAIN=your-static-domain.ngrok-free.dev
